<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Info</title>
    </head>
  <body>
    <h1>Info</h1>
    <br>
    <a href= "https://gganbuback1.pythonanywhere.com/api/summoner/">ranker data</a>
    <br>
    <br>
    <a href = "https://gganbuback1.pythonanywhere.com/api/champion/">champion statistics</a>
    <br>
    <br>
    <a href = "https://gganbuback1.pythonanywhere.com/riot.txt/">riot.txt</a>
    <br>
    <br>
    <a href= "https://gganbuback1.pythonanywhere.com/api/onedeck/winrate/">deck statistics -winrate</a>
    <br>
    <br>
    <a href= "https://gganbuback1.pythonanywhere.com/api/onedeck/windefencerate/">deck statistics -windefencerate</a>
    <br>
    <br>
    <a href= "https://gganbuback1.pythonanywhere.com/api/onedeck/avgplace/">deck statistics avgplace</a>
    <br>
    <br>
    <a href= "https://gganbuback1.pythonanywhere.com/api/synergy/winrate/">deck synergy statistics winrate</a>
    <br>
    <br>
    <a href= "https://wkdrhkdwls.github.io/doubleup/">App page</a>
    <br>
    <br>
  </body>
</html>